.button {
    font-size: 65%;
    margin: 1em;
    background-color: #b7aa8180;
    border: 1px solid #B7AA81;
    font-family: inherit;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    letter-spacing: 3px;

    &:hover{
        font-weight: bold;
        background-color: #d78308;
        color: #e7e7e7;
        border: none;
    }
}
