@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

//For responsive mobile displays
@mixin mobileOnly {
    @media screen and (min-width: 480px) {
        @content;
    }
}

//For responsive desktop displays
@mixin tabletsUp {
    @media screen and (min-width: 760px) {
        @content;
    }
}


// //For responsive laptops displays
// @mixin laptopsOnly {
//     @media screen and (min-width: 1023px) {
//         @content;
//     }
// }






