@import './mixins';

.admin-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50vh;
    .date-container{
        width: 100%;
        .category-info {
            color: #B7AA81 ;
            font-size: 100%;
            @include tabletsUp {
                font-size: 200%;
            }
        }
        input {
            font-family: inherit;
            padding: 1em;
        }
    }
    .bookingslist {
        width: 70%;
        .category-info {
            color: #B7AA81 ;
            font-size: 100%;
            @include tabletsUp {
                font-size: 200%;
            }
        }
        .booking-container {
            font-size: 60%;
            border: 5px solid #B7AA81;
            width: 120%;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            background-color: white;
            color: black;
            margin: 5px 0px;
            padding: 2em 1em;

            @include tabletsUp {
                font-size: 115%;
                margin: 10px 0px;
                padding: .5em 1em;
            }
                img {
                    width: 1.5em;

                    @include tabletsUp {
                        width: 2em;
                    }
                }
            }
        }
}