@import 'button';

div {
    // label{
    //     font-size: 100%;
    //     font-weight: bold;
    // }
    p {
        color: rgb(18, 18, 18);
        font-size: 80%;
        a {
            color: inherit;
        }
    }

}