@import 'button';
@import './mixins';

div {
    padding: 1rem;
    p {
        color: rgb(18, 18, 18);
        font-size: 80%;
        a {
            color: inherit;
        }
    }
}
.confirmation-logo{
    width: 10%;
}


    @include desktopsOnly {
        .white-container-booking{
            p {
                color: rgb(18, 18, 18);
                font-size: 80%;
                a {
                    color: inherit;
                }
            }
        }
        .confirmation-logo{
            width: 10%;
        }
    }



