header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Spectral', serif;
    font-weight: 300;
    color: #CDBE8F;
    height: 400px;

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 7.5%;
            z-index: 2;
            padding: 2em;

        }
        
        img:hover {
            animation: spin 4s linear infinite;
        }
    }

    }
    
    .hero {
        position: relative;
        margin-top: -80px;
        background-image: url('./../images/hero.png') ;
        height: 400px;
        .title {
            font-size: 500%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;


        }
    }
   


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}