@import './mixins';

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Spectral', serif;
    font-weight: 300;
    color: #CDBE8F;
    height: 200px;
    @include desktopsOnly {
        height: 400px;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        
        img {
            width: 20%;
            z-index: 2;
            padding: 2em;
            @include desktopsOnly {
                width: 7.5%;
            }
        }
        
        img:hover {
            animation: spin 10s linear infinite;
        }
    }

    }
    
    .hero {
        position: relative;
        margin-top: -70px;
        background-color: grey;
        background-image: url('./../images/hero.png') ;
        background-size: cover;
        height: 200px;
        @include desktopsOnly {
            margin-top: -80px;
            height: 400px;
        }
        .title {
            font-size: 200%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 100%;
            text-align: center;

            @include desktopsOnly {
                font-size: 500%;
            }
        }
    }
   


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}