@import "common";
@import './mixins';

.restaurant-description{
        width: 70%;
        margin: 1rem; 
        text-align: center; 
        font-size: 90%;
        color: #1e1b19 ;
        @include tabletsUp {
                font-size: 150%;
                margin-top: 3rem; 

        }
}

.button-container {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        .meny-button, .boka-button {
                margin: 1rem;
                width: 70%;
                color: rgb(206, 192, 137);
                font-family: 'Chivo', serif;
                font-weight: lighter;
                font-size: 100%;
                background-color: transparent;
                padding: 1em;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: row;
                border: 3px solid rgb(206, 192, 137);
                @include tabletsUp{
                        font-size: 220%;
                        padding: 1em 0em; 
                }

                a {
                        text-decoration: none;
                        color: inherit;
                }
                
        }
        .meny-button:hover, .boka-button:hover {
                transform: scale(1.1); 
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            } 
     

}
img {
        width: 90%;
        padding: 1em;
        @include tabletsUp {
                padding: 3em;
        }
}