.whiteContainerWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 ;
}

.whiteContainer{
    width: 60vw;
    height: 70vh;
    background-color: #EFEDE9;
    display: flex;
    justify-content: center;
}