@import 'common';

.food-container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.food-name {
    padding: 0em 1em;
    font-family: 'Chivo', serif;
    font-size: 180%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.decoflower {
    width: 15px;
    padding: 15px;
}

.food-description {
    line-height: 40px;
    font-size: 120%;
    margin: 50px;
    margin-top: 0;
    margin-bottom: 25px;

}

hr {
  width: 90%;
  border: 1px solid rgb(206, 192, 137);
}
.book-btn {
  margin: 10px;
  border: none;
  background-color: white;
  img {
    width: 100px;
  }
  img:hover {
    animation: spin 10s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
