@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Spectral:wght@300;400&display=swap');
body {
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: 'Chivo', sans-serif;
  color: beige;
  background-color: #1e1b19;  
  /* font-family: 'Spectral', serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
